#!/bin/bash

export OCP_DOMAIN=
export OCP_ADMIN_USER=
export OCP_ADMIN_PASS=
export OCP_USER=
export OCP_PASS=

export OCP_API=https://api.${OCP_DOMAIN}:6443/
export OCP_CONSOLE=https://console-openshift-console.apps.${OCP_DOMAIN}/
export OCP_CLIENT_DOWNLOAD=https://downloads-openshift-console.apps.${OCP_DOMAIN}/amd64/linux/oc.tar

oc_client_install() {
	curl ${OCP_CLIENT_DOWNLOAD} --output oc.tar
	tar xvf oc.tar
	sudo mv -f oc /usr/local/bin/oc
	rm -f oc.tar
}

ocplogin() {
	oc login -u ${OCP_USER} -p ${OCP_PASS} ${OCP_API}
}

ocpadmin() {
	oc login -u ${OCP_ADMIN_USER} -p ${OCP_ADMIN_PASS} ${OCP_API}
}
